<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeAudit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="main-title">TimeAudit</h1>

        <div class="nav-bar">
            <nav id="nav">
                <a href="/">Home</a>
                <a href="calendar">Calendar</a>
                <a href="statistics">Statistics</a>
            </nav>

        </div>

        <div class="top-bar">
            
        </div>

        <div class="home-container">
            <h2>Welcome to TimeAudit</h2>
            <p id="home-text">TimeAudit is a time tracking app that helps you understand how you spend your time.</p>
            <p id="home-text">You can log your activities and see statistics about your time usage.</p>
            <p id="home-text">Start by going to the calendar page and logging your first activity!</p>
        </div>
    </body>
</html>