<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TimeAudit</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 id="main-title">TimeAudit</h1>

        <div class="nav-bar">
            <nav id="nav">
                <a href="/">Home</a>
                <a href="calendar">Calendar</a>
                <a href="statistics">Statistics</a>
            </nav>

        </div>

        <div class="top-bar">
            
        </div>
    </body>
</html>